Repository axieum/fabric-example-mod, pull requests merged in 2021-06, with the labels that each got.

#1 Add Minotaur for automatic publish to Modrinth
  .github/workflows/publish.yml
  build.gradle
  gradle.properties
Labels: build, ci

#5 docs(licence): change licence to the CC0
  LICENCE.txt
  README.md
  example-submod/src/main/resources/fabric.mod.json
  src/main/resources/fabric.mod.json
Labels: documentation

#12 build: add Checkstyle
  .checkstyle.xml
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/build.yml
  build.gradle
  example-submod/src/main/java/com/example/modid/submod/AnotherExample.java
  example-submod/src/main/java/com/example/modid/submod/mixin/TitleScreenMixin.java
  gradle.properties
  src/main/java/com/example/modid/Example.java
  src/main/java/com/example/modid/mixin/TitleScreenMixin.java
  src/test/java/com/example/modid/ExampleTest.java
Labels: build
